@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Glyphter';
    src: url('../fonts/cac1c52db6cb4ec44c564b27d8ba7f5f03cf20db.woff') format('woff');
}
body {
    margin: 0;
    padding: 0;
    font-family:'PT Sans','Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.main-header {
    position: relative;
}
.container {
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 10px 0 20px #0000001a;
    box-shadow: 0 10px 20px #0000001a;
    margin: 0 auto;
    position: relative;
}
a {
    text-decoration: none;
}
.main-nav {
    font-weight: bold;
    font-size: 14px;
    background-color: #ffffff;
    line-height: 26px;
    min-height: 56px;
}
.logo {
    position: absolute;
    top: 0;
    width: 140px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
.nav-list { 
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
}
.nav-list li{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 300px;
    min-height: 56px;
    letter-spacing:  0.3px;
}
.nav-list li:first-child, li:nth-child(2){
    justify-content: flex-start;
}
.nav-list li:nth-child(3), li:last-child{
    justify-content: flex-end;
}
.nav-list li:first-child {
    padding-left: 70px;
    padding-bottom: 5px;
}
.nav-list li:nth-child(2) {
    padding-left: 10px;
    padding-bottom: 5px;
}
.nav-list li:nth-child(3) {
    padding-right: 13px;
    padding-bottom: 5px;
}
.nav-list li:last-child {
    padding-right: 68px;
    padding-bottom: 5px;
}
.nav-item {
    font: inherit;
    font-weight: bold;
    color: #000000;
}
.nav-item:not(.active-page):hover, .nav-item:not(.active-page):focus {
    color: #81b3d2;
}
.nav-item:not(.active-page):active {
    color: #0000004d;
}
.active-page {
    font-weight: bold;
    size: 14px;
    color: #766357;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.title {
    font-size: 21px;
    font-weight: bold;
}
.text {
    text-align: center;
    font-size: 14px;
    color:black; 
}
.content {
    background-color: #786f6a;
    background-image: url('../img/background-photo.jpg');
    background-position: top -83px right 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 508px;
    position: relative;
}
.content::after {
    content: '';
    content: url('../img/intro-mask.svg');
    background-size: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -8px;
}
.content img {
    padding-top: 76px;
    display: block;
    margin: auto;
}
.lead {
    background-color: white;
    min-height: 99px;
    padding-top: 61px;
    padding-bottom: 55px;
}
.lead .blocktext {
    margin: 0;
    padding: 0;
    text-align: center;
}
.blocktext .text {
    margin: 0;
}
.blocktext .title {
    margin: 0;
    margin-bottom: 30px;
    margin-left: 380px;
    line-height: 25px;
    width: 440px;
}
.span-text {
    color: #ffffff;
}
.feature-item-blue {
    background-color: none;
    box-sizing: border-box;
    width: 400px;
    min-height: 150px;
    margin: 0;
    padding: 48px;
    margin-bottom: 10px;
}
.feature-items img {
    height: auto;
}
.feature-item-blue .text {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff; 
    margin: 0;
    margin-top: 26px;
} 
.feature-item-blue .title {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
    white-space: pre-line;
}
.advices-list {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 195px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 80px;
}
.advices-item .title {
    margin: 0;
    padding: 0;
    position: relative; 
    margin-top: 55px;
}
.advices-item .one::before {
    content: '';
    content: url('../img/icons/icon-1.svg');
    width: 75px;
    height: 72px;
    position: absolute;
    left: 107px;
    bottom: 50px;
    margin: auto;
}
.advices-item .two::before {
    content: '';
    content: url('../img/icons/icon-3.svg');
    width: 75px;
    height: 72px;
    margin: auto;
    position: absolute;
    bottom: 48px;
    left: 105px;
    padding: 0;
}
.advices-item .three::before {
    content: '';
    content: url('../img/icons/icon-2.svg');
    width: 75px;
    height: 72px;
    position: absolute;
    bottom: 54px;
    left: 108px;
    padding: 0;
    margin: auto;
}
.advices-item .text {
    margin: 0;
    padding: 0;
    margin-top: 25px;
}
.advices-item {
    line-height: 21px;
    margin: 0px;
    margin-left: 14px;
    margin-top: 55px;
    max-width: 290px;
}
.advices-list li:first-child {
    margin-left: 10px;
}
.advices-list li:last-child {
    margin-right: 10px;
}
.advices-list li:nth-child(2) {
    margin-left: 16px;
}
.feature-items {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    background-color: #eeeeee;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #81b3d2;
    box-sizing: border-box;
    flex-wrap: wrap; 
    position: relative;
    z-index: 2;
    min-height: 256px;
    box-sizing: border-box;
}
.triple {
    box-sizing: border-box;
    padding-top: 45px;
}
.triple li {
    box-sizing: border-box;
    margin-bottom: 38px;
}
.feature-items img{
    height: auto;
}
.feature-items title{
    margin: 0;
    padding: 0;
}
.feature-items .title{
    margin: 0;
    margin-bottom: 18px;
}
.feature-items:nth-child(4) {
    flex-direction: row-reverse;
}
.feature-items:last-child {
    min-height: 256px;
    background-color: #eeeeee;
}
.feature-item {
    padding: 0;
    margin-right: 5px;
    max-width: 400px;
}
.feature-item p {
    margin-top: 20px;
    width: 265px;
}
.feature-item .last{
    width: 254px;
}
.feature-item .title {
    margin-bottom: 25px;
    white-space: pre-line;
}
.search {
    background-color: #ffffff;
    text-align: center;
    min-height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 43;
}
.search-wrap {
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    min-width: 650px;
    min-height: 205px;
}
.container-form {
    position: relative;
    margin-top: auto;
}
.search-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;
} 
.search .text{
    padding: 15;
    line-height: 24px;
}
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 568px;
    min-height: 395px;
    position: absolute;
    margin: auto;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 10px 20px #0000001a;
    padding: 55px;
    z-index: 1;
}
.search-form ul {
    padding: 0;
    margin: 0;
}
.search-form li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
}
.search-form input {
    height: 35px;
    width: 330px;
    background-color:#f2f2f2;
    border: 2px solid #f2f2f2;
    font-weight: bold;
    position: relative;
    padding-left: 13px;

}
.search-form input:hover {
    background-color:#ebebeb;
}
.search-form input:focus{
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}
.double-row li {
    margin: 0;
    margin-bottom: 22px;
}
.double-row input {
    height: 38px;
    width: 35px;
    background-color:#f2f2f2;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    font-weight: bold;  
    text-align: center;
    padding: 0;
}
.search-form .double-row {
    display: flex;
    justify-content: space-between;
}
.ul-wrap {
    min-height: 175px;
}
.ul-wrap li {
    position: relative;
}
.button.more {
    color: #ffffff;
    text-decoration: none;
    background:  #81b3d2;
    width: 458px;
    height: 58px;
    font-size: 21px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.button.more:hover, .button.more:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button.more:active {
    background-color: #5496bd;
    color: #ffffff4d;
}
.button-container {
    margin-left: 30px;
}
.icon-button {
    width: 38px;
    height: 38px;
    border: none; 
    padding: 0;
} 

.calendar-button {
    right: 3px;
    bottom: 2px;
    margin-right: auto;
    position: absolute;
    cursor: pointer;
    background: transparent;
}
.calendar-button path { 
    fill: #cacaca;
}
.calendar-button:hover path {
    fill: #000000;
}
.calendar-button:active path {
    fill: #81b3d2;
}
.less-button {
    background-color:#f2f2f2;
    font-family: 'Glyphter','Arial', sans-serif;
    color:  #a9a9a9;
    font-size: 11px;
    cursor: pointer;
} 
.more-button {
    background-color:#f2f2f2;
    font-family: 'Glyphter','Arial',  sans-serif;
    color:  #a9a9a9;
    font-size: 11px;
    cursor: pointer;
}
.less-button:hover {
    color:  #000000;
}
.more-button:hover {
    color:  #000000;
}
.less-button:active {
    color:  #81b3d2;
}
.more-button:active {
    color:  #81b3d2;
}
.adult label {
    margin-right: 33px;
}
.adult .more-button {
    margin-right: 47px;
}
 .children label {
    margin-right: 29px;
}
 .search-form-item-background {
     display: inline-block;
     vertical-align: top;
}
.check-in-date {
    text-transform: uppercase;
    position: relative;
}
.check-out-date {
    text-transform: uppercase;
}
.state-map {
    height: 593px;
    width: 1200px;   
    background-image: url('../img/map.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.footer-main-page {
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    height: 120px;
    width: 1200px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    padding-left: 45px;
} 
.footer {
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    height: 120px;
    width: 1200px;
    padding-left: 45px; 
} 
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts, .contacts a {
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #000000;
    line-height: 35px;
    margin: 0;
}
.copyright {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
} 
.socials {
    display: flex;
    list-style: none;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 48px;
    padding: 0;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.social-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #669ec0;
}
.social-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color:#5496bd;
}
.social-button svg:active {
    opacity: 50%;
}
 .copyright span {
    margin-right: 8px;
} 
.copyright a {
    margin-right: 12px;
    width: 115px;
    height: 41px;
}
.footer-logo-html:hover path{
    fill: #81b3d2;
}
.footer-logo-html:hover :active{
    fill: #bdbbbc;
}
.filter {
    background-color: #64605f;
    background-image:url('../img/filter-background.jpg');
    background-position: top center;
    background-position: top -60px right 0;
    background-repeat: no-repeat;
}
.filter {
    display: flex;
    justify-content: start;
    min-height: 217px;
    flex-wrap: wrap;
}
.filter fieldset {
    border: none;
    margin-top: 27px;
}
.filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.infrastructure {
    margin-left: 60px;
}
.housing-type {
    margin-left: 100px;
} 
.housing-type li:first-child {
    margin-bottom: 29px;
}
/* Чекбоксы начало*/

.filter ul {
    list-style: none;
    line-height: 17px;
    padding: 0;
    margin: 0;
}
.filter li {
    margin-bottom: 28px;
}
.infrastructure-list li{
    margin-left: 7px;
    margin-top: 2px;
}
.infrastructure-list li:first-child{
    margin-top: 6px;
}
.infrastructure-list li:nth-child(2), .hotels-list li:nth-child(2) {
    margin-bottom: 28px;
}
.hotels-list li{
    margin-left: 10px;
    margin-top: 5px;
}
.option {
    display: inline-block;
    vertical-align: top;
}
.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.check-box {
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url(../img/icons/checkbox-off.svg);
    background-repeat: no-repeat;
    margin-left: -35px;
    top: -3px;
}
.hotels-list .check-box {
    margin-left: -41px;
}
.check {
    padding-left: 30px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    font-size: 14px;
}
.check-input:focus + .check-box {
    outline: 3px solid #ffffff83;
}
.check-input:checked + .check-box {
    background-image: url(../img/icons/checkbox-on.svg);
    background-repeat: no-repeat;
}
.check-input:checked:disabled + .check-box {
    background-image: url(../img/icons/checkbox-on.svg);
    background-repeat: no-repeat;
    opacity: 50%;
}
.check-input:disabled + .check-box {
    background-image: url(../img/icons/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 50%;
}
/* Чекбоксы конец*/
.filter-option {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.daily-cost-up-to {
    width: 220px;
    height: 32px;
    border: solid 2px #ffffff;
}
.button {
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    border: none;
    background-color: none;
    cursor: pointer;
}
.button.reserve {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    background: #766357;
    width: 568px;
    height: 86px;
    z-index: 2;
    cursor: pointer;
}
.button.reserve:hover, .button.reserve:focus  {
    background-color: #604e43;
    color: #ffffff;
    cursor: pointer;
}
.button.reserve:active {
    background-color: #503e33;
    color: #ffffff4d;
}
.button-show {
    width: 133px;
    height: 32px;
    font: inherit;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border: solid 2px #ffffff;
    color: #ffffff;
    background-color: none;
} 
.button-show:hover {
    width: 133px;
    height: 32px;
    font: inherit;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border: solid 2px #ffffff;
    background-color: #ffffff;
    color: black;
} 
.hotels-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 86px;
    border-bottom: 1px solid #e5e5e5;
}
.hotels-filter-title {
    font-size: 21px;
    margin-left: 72px;
    position: relative;
}
.hotels-filter span {
    font-size: 12px;
    margin-left: 49px;
}
.icon-buttons {
    align-self: flex-end;
    margin-left: auto;
}
.icon-buttons svg {
    width: 11px;
    height: 10px;
    margin-top: 10px;
}
.icon-buttons path{
    fill:#81b3d2;
}
.icon-buttons-top path{
    fill:#cacaca;
}
.icon-buttons-top:hover path{
    fill: black;
}
.icon-buttons-top:active path{
    fill: #81b3d2;
}
.icon-buttons-bottom {
    width: 11px;
    height: 10px;
    margin-left: 12px;
}
.hotels-filter-title{
    margin-top: 20px;
}
.hotels-filter ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none; 
    width: 777px;
}
.hotels-filter li {
    justify-content: flex-start;
    margin-top: 2px;  
}
.filter-option a {
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.302);
    border-bottom: 1px dotted #669ec0;
    background-color: #ffffff;
    margin-left: 33px;
    padding: 0;
    cursor: pointer;
}
.filter-option-active a{
    color: #81b3d2;
    font-size: 12px;
    border-bottom: none;
    background-color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-option a:hover {
    text-transform: uppercase;
    font-size: 12px;
    color: #669ec0;
    border-bottom: 1px dotted #669ec0;
    background-color: #ffffff;
    cursor: pointer;
}
.filter-option a:active {
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    border-bottom: none;
    
}
.filter-range {
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
    margin-top: 28px;
    margin-right: 73px;
}
.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price-controls::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 69px;
}
  .price-controls  .max-price {
    margin-right: 10px;
    padding-left: 55px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    text-indent: 1px;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1,1.1);
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-right: 95px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.hotel {
    min-height: 90px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 29px;
    padding-top: 30px;
    padding-left: 72px;
    padding-right: 73px;
}
article .hotel {
    flex-wrap: wrap;
}
.hotel-description-type {
    display: inline-block;
    width: 110px;
    margin: 0;
    vertical-align: top;
}
.hotel-description-price {
    display: inline-block;
    width: 142px;
    margin-left: 3px;
    vertical-align: top;
}
.hotel-picture {
    margin: 0;
    margin-right: 30px;
}
.hotel-picture a{
    margin: 0;
    display: flex;
}
.hotel-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    max-width: 450px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-top: -5px;
}
.hotel-title:hover {
    color: #81b3d2;
}
.hotel-title:active{
    color: rgba(0, 0, 0, 0.3);
}
.hotel-rating {
    min-height: 90px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.text-rating {
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
}
.stars-rating {
    width: 89px;
    height: 17px;
    margin: 0;
    background-image: url('../img/icons/star.svg'); 
    background-repeat: space;
}
.stars-rating-middle {
    width: 63px;
    height: 17px;
    background-image: url('../img/icons/star.svg'); 
    background-repeat: space;
}
.stars-rating-last {
    width: 40px;
    height: 17px;
    background-image: url('../img/icons/star.svg'); 
    background-repeat: space;
}
.button-more {
    font-size: 14px;
    font-weight: bold;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 3px 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    cursor: pointer;
}
.button-more:hover, .button-more:focus {
    font-size: 14px;
    font-weight: bold;
    background-color: #669ec0;
    color: #ffffff;
    cursor: pointer;
}
.button-more:active {
    font-size: 14px;
    font-weight: bold;
    background-color: #5496bd;
    color: #ffffff4d;
}
.button-reserve {
    font-size: 14px;
    font-weight: bold;
    background-color: #766357;
    color: #ffffff;
    padding: 3px 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    cursor: pointer;
}
.button-reserve:hover, .button-reserve:focus {
    font-size: 14px;
    font-weight: bold;
    background-color: #604e43;
    color: #ffffff;
}
.button-reserve:active {
    font-size: 14px;
    font-weight: bold;
    background-color: #503e33;
    color: #ffffff4d;
}
.lift-up  {
    animation-name: lift-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes lift-up {
    from {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-455px);
    }
}
.lift-down  {
    animation-name: lift-down;
    animation-duration: 1s;
}
@keyframes lift-down {
    from {
      transform: translateY(-455px);
    }
    100% {
      transform: translateY(0px);
    }
}
.closed-form {
    transform: translateY(-455px);
}